<div class="container-fluid">
    <div class="container mt-5">
        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/pokemon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Buscar Pokemon</h3>
                    <button type="button" routerLink="/search" class="btn btn-danger">Ir <i class="fas fa-eye"></i></button>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <img src="../../../assets/img/esfera-1.gif" class="card-img-top" alt="...">
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/favoritos.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Ver fvoritos</h3>
                    <button type="button" routerLink="/favorites" class="btn btn-danger">Ir <i class="fas fa-eye"></i></button>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>