<div class="container">
      <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="exampleInputEmail1">Buscar Pokemon</label>
                <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="name"  aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Ingresa el nombre del pokemon</small>
                <button type="submit" (click)="getPokedex()" class="btn btn-primary">Buscar</button>
              </div>
        </div>
        <div class="col">
            <img src="{{urlImage2}}" class="img-fluid" alt="...">
        </div>
      </div>
</div>

<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="row">
            <div class="col">
                <img src="{{urlImage2}}" class="card-img-top" alt="...">
            </div>
            <div class="col">
                <img src="{{urlImage}}" class="card-img-top" alt="...">
            </div>
          </div>
        <div class="card-body">
            <!-- <input type="text" class="form-control" id="name1" [(ngModel)]="descripcion.name" aria-describedby="emailHelp"> -->
            <!-- <input class="form-control" type="text" id="nombre" [(ngModel)]="favoritos.nombre" placeholder="hola" readonly> -->
          <h2 class="card-title" [(ngModel)]="favoritos.nombre">Nombre: {{descripcion.name}} </h2>
          <h2 class="" [(ngModel)]="favoritos.tipo" > Tipo: {{tipo}} </h2>
          <!-- <a href="#" class="btn btn-primary" >Agregar a Favoritos</a> -->
        </div>
        <div>
            <h1>Habilidades</h1>
            <h3> {{habilidades}} </h3>
            <h3> {{habilidades2}} </h3>
        </div>
      </div>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Agregar a favoritos <i class="fas fa-star"></i>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar a favoritos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="text1">Name</label>
                  <input type="text" class="form-control" id="text1" name="nombre" [(ngModel)]="favoritos.nombre" aria-describedby="help">
                  <small id="emailHelp" class="form-text text-muted">Nombre</small>
                </div>
                <div class="form-group">
                  <label for="example2">Habilidad</label>
                  <input type="text" class="form-control" name="tipo" [(ngModel)]="favoritos.tipo" id="example2">
                </div>
                <div class="form-group">
                    <label for="url">Url</label>
                    <input type="text" class="form-control" name="url" [(ngModel)]="favoritos.url" id="url">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="savePokemon()" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <pre> {{ descripcion | json }} </pre> -->
<pre> {{favoritos | json}} </pre>

