.card {
    width: 300px; height: 450px; border-radius: 8px; display: flex; flex-direction: column; box-shadow: 0px 0px 2px #999;
}

.img-style {
    width: auto; height: 300px;
}

.card-content {
    width: 100%; height: 150px; display: flex; flex-direction: column; justify-content: center;
}

.card-text {
    font-size: 14px; padding: 8px;
}

.btn-primary {
    background-color: #0049B7;
    border-radius: 8px;
    width: 274px;
    height: 50px;
    color: white;
    border: none;
    font-family: 'Poppins-semibold';
    font-size: 18px;
    cursor: pointer; margin: auto;
}