<div class="container-fluid">
    <div class="card" *ngFor="let list of listaFav" >
        <!-- <img src=" {{list.url}} " alt="" class="img-style"> -->
          <img src="{{list.url}}" class="card-img-top" alt="..."> 
        <div class="card-content">
            <h1> {{ list.nombre }} </h1>
            <h2> {{ list.tipo }} </h2>
        </div>
    </div>
    
</div>