<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm">
      
      </div>
      <div class="col-sm">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
          <div class="card-header mt-3">
            <img src="../../../assets/img/esfera.gif" class="img-fluid" alt="...">
          </div>
          <div class="card-body text-center mt-3 mb-3">
            <button type="button" routerLink="/menu" class="btn btn-dark">VAMOS<i class="fas fa-arrow-alt-circle-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-sm">
      
      </div>
    </div>
  </div>
</div>