/* You can add global styles to this file, and also import other style files */

// .container-fluid {
    // background-image: url("../src/assets/img/img1.jpeg");
    // background-size: cover;
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // left: 0;
    // top: 0;
  // }

  .container {
    background: burlywood;
  }